<template>
  <div class="modal-info">
    <div class="info-main">
      <div class="header-info">
        <h1>{{name}}</h1>

        <div class="close" @click="closAll">
          <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.61625 7L14.1562 12.54V14H12.6963L7.15625 8.46L1.61625 14H0.15625V12.54L5.69625 7L0.15625 1.46V0H1.61625L7.15625 5.54L12.6963 0H14.1562V1.46L8.61625 7Z" fill="#C4C4C4"/>
          </svg>
        </div>
      </div>

      <div class="info-wrapper">
        <div class="content-info">
          {{text}}
        </div>

        <button type="button" class="button-ok" @click="closAll">{{ button_text || 'Ок' }}</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Modal-info',
  props: {
    close: Function,
    callback: Function,
    name: String,
    text: String,
    button: Boolean,
    button_text: String
  },
  methods: {
    closAll() {
      this.close();
      if (this.callback) {
        this.callback();
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.modal-info {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(59, 71, 125, 0.5);
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.info-main {
  width: 40vw;
  min-height: 15vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-info {
  padding: 1vh 4vh 1vh 4vh;
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E1E1E1;
}
.header-info > h1 {
  font-family: Benzin-Bold;
  color: rgba(47, 60, 67, 1);
  font-size: 24px;
  text-align: left;
  margin-left: 2vh;
}
.close svg {
  cursor: pointer;
}
.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1vh;
}
.content-info {
  margin-top: 1vh;
  font-size: 1.3rem;
  font-family: Inter;
  align-items: center;
  width: 70%;
  color: rgba(89, 89, 108, 1);
  line-height: 24px;
}
.button-ok {
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 2px;
  font-family: "Inter";
  transition: 0.5s;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  width: 80%;
  background: rgba(56, 93, 249, 1);
  padding: 1vh;
  margin-right: 0.8rem;
  margin-top: 2vh;
}

$phone: 480px;
$smallphone: 400px;

@media screen and (max-width: $phone) {
  .info-main {
    width: 90vw;
  }
}

@media screen and (max-width: $smallphone) {
}
</style>