<template>
  <div class="Catalog__item">
    <router-link :to="'/solution/'+data.id" class="Catalog__inner">
      <div class="Catalog__border">
        <div class="Catalog__imgbox">
          <div class="Catalog__logo"></div>
          <!-- <img src="@/assets/img/catalog1.png" alt="#" /> -->
        </div>
      </div>
      <div class="Catalog__item-text">
        <h3>{{data.title}}</h3>
        <p>{{data.text}}</p>
        <p>{{data.show}}</p>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'elem-project',
  props: ['data']
}
</script>

<style lang="scss" scoped>
.Catalog__imgbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  background-color: #fff;
  padding: 0.5rem;

  border-radius: 50%;
  img {
    max-width: 100%;
    width: auto;
  }
  .Catalog__logo {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background: url("@/assets/img/catalog1.png") center center no-repeat;

    // background-size: cover;
  }
}

.Catalog__item {
  position: relative;
  z-index: 2;
  cursor: pointer;
  // max-height: 30rem;
  height: 468px;
  flex-basis: 33.2%;
  min-width: 250px;

  // max-width: 33.2%;
  padding: 1.43rem;
  border: 1px solid #2727a3;
  transition: 0.5s;
  &:hover {
    background: #eaf0ff;
    h3 {
      color: #272764;
    }
    p {
      color: #59596c;
    }
    a {
      text-decoration: none;
    }
    .Catalog__logo {
      transition: 0.5s;
      background: url("@/assets/img/catalog1color.png") center center no-repeat;
    }
  }
}

.Catalog__inner {
  display: block;
  height: 100%;
  h3 {
    // Когда будет нормальный контент, удалить word-break
    word-break: break-all;
    font-family: Benzin-Bold;
    font-size: 1.29rem;
    line-height: 125.2%;
    /* identical to box height, or 23px */
    text-transform: uppercase;
    color: #f7fcff;
    margin-bottom: 1.43rem !important;
    transition: 0.5s;
  }
  p {
    // Когда будет нормальный контент, удалить word-break
    // word-break: break-all;
    display: inline;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.21rem;

    /* #AFBEE4 */
    color: #8c9ecc;
    transition: 0.5s;
  }

  .Catalog__border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    border: 1px solid #2727a3;
    border-radius: 50%;
    margin-bottom: 2.86rem;
  }
}

.Catalog__item-text {
  width: 100%;
  
  p {
    -webkit-line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
</style>