<template>
  <Modal :text_header="'Регистрация'" :open_log="open_log" :close="close" flag_left_text>
    <form action method="post" @submit.prevent="submit" class="form">
      <div class="fields">
        <div class="field">
          <label for="name">Имя Фамилия</label>
          <input type="name" name="name" id="name" v-model="name" required />
        </div>

        <div class="field">
          <label for="email">Электронная почта</label>
          <input type="email" name="email" id="email" v-model="email" required />
        </div>

        <div class="field">
          <label for="phone">Номер телефона</label>
          <input type="phone" name="phone" id="phone" v-model="phone" required />
        </div>

        <div v-on:click="showPassword($event)" class="field">
          <!-- Элементы местами не менять -->
          <label for="pass1">Пароль</label>
          <input type="password" name="pass1" id="pass1" v-model="pass1" required />
          <div class="pass-show">
            <svg
              width="20"
              height="13"
              viewBox="0 0 20 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.8983 5.82562C17.916 2.32922 14.2119 0 9.99999 0C5.78948 0 2.08452 2.32824 0.101631 5.82559C-0.033877 6.06465 -0.033877 6.35723 0.101631 6.59625C2.08397 10.0927 5.78808 12.4219 9.99999 12.4219C14.2105 12.4219 17.9155 10.0936 19.8983 6.59629C20.0339 6.35723 20.0339 6.06465 19.8983 5.82562ZM9.99999 10.8594C6.52073 10.8594 3.4494 9.01484 1.69077 6.21094C3.44874 3.40809 6.51933 1.5625 9.99999 1.5625C13.4792 1.5625 16.5506 3.40703 18.3092 6.21094C16.5512 9.01379 13.4807 10.8594 9.99999 10.8594Z"
                fill="#D3D3D3"
              />
              <path
                d="M10 3.26562C8.49227 3.26562 7.26562 4.49227 7.26562 6C7.26562 7.50773 8.49227 8.73438 10 8.73438C11.5077 8.73438 12.7344 7.50773 12.7344 6C12.7344 4.49227 11.5077 3.26562 10 3.26562ZM10 7.17188C9.35383 7.17188 8.82812 6.64617 8.82812 6C8.82812 5.35383 9.35383 4.82812 10 4.82812C10.6462 4.82812 11.1719 5.35383 11.1719 6C11.1719 6.64617 10.6462 7.17188 10 7.17188Z"
                fill="#D3D3D3"
              />
            </svg>
          </div>
        </div>

        <div v-on:click="showPassword($event)" class="field">
          <!-- Элементы местами не менять -->
          <label for="pass2">Повторите пароль</label>
          <input type="password" name="pass2" id="pass2" v-model="pass2" required />
          <div class="pass-show">
            <svg
              width="20"
              height="13"
              viewBox="0 0 20 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.8983 5.82562C17.916 2.32922 14.2119 0 9.99999 0C5.78948 0 2.08452 2.32824 0.101631 5.82559C-0.033877 6.06465 -0.033877 6.35723 0.101631 6.59625C2.08397 10.0927 5.78808 12.4219 9.99999 12.4219C14.2105 12.4219 17.9155 10.0936 19.8983 6.59629C20.0339 6.35723 20.0339 6.06465 19.8983 5.82562ZM9.99999 10.8594C6.52073 10.8594 3.4494 9.01484 1.69077 6.21094C3.44874 3.40809 6.51933 1.5625 9.99999 1.5625C13.4792 1.5625 16.5506 3.40703 18.3092 6.21094C16.5512 9.01379 13.4807 10.8594 9.99999 10.8594Z"
                fill="#D3D3D3"
              />
              <path
                d="M10 3.26562C8.49227 3.26562 7.26562 4.49227 7.26562 6C7.26562 7.50773 8.49227 8.73438 10 8.73438C11.5077 8.73438 12.7344 7.50773 12.7344 6C12.7344 4.49227 11.5077 3.26562 10 3.26562ZM10 7.17188C9.35383 7.17188 8.82812 6.64617 8.82812 6C8.82812 5.35383 9.35383 4.82812 10 4.82812C10.6462 4.82812 11.1719 5.35383 11.1719 6C11.1719 6.64617 10.6462 7.17188 10 7.17188Z"
                fill="#D3D3D3"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="button">
        <button type="submit" class="btn btn-registry">Зарегестрироваться</button>
      </div>
    </form>

    <InfoModal
      :close="toggleStatusModal"
      v-if="flag_status"
      :name="name_status"
      :text="text_status"
      button
    />
  </Modal>
</template>

<script>
import Modal from "./Modal";
import InfoModal from "./info/Modal";

import { user } from "@/modules/helper";

export default {
  name: "Registry",
  props: ["close", "open_log"],
  data() {
    return {
      email: undefined,
      name: undefined,
      phone: undefined,
      pass1: undefined,
      pass2: undefined,

      flag_status: false,
      name_status: undefined,
      text_status: undefined
    };
  },
  components: {
    Modal,
    InfoModal
  },
  methods: {
    async submit() {
      try {
        if (this.pass1 === this.pass2) {
          let full_name = this.name.split(' ')

          if (!full_name[1]) {
            this.name_status = "Ой Ошибочка";
            this.text_status = "Кажется вы не указали фамилию!";
            this.toggleStatusModal();
          } else {
            const data = await user.registery({
              email: this.email,
              first_name: full_name[0],
              last_name: full_name[1],
              phone: this.phone,
              password: this.pass1
            });

            console.log(data.data);

            this.name_status = "Регистрация завершена";
            this.text_status = "Вы успешно зарегестрировались!";
            this.toggleStatusModal();
            this.open_log()
          }
        }
      } catch (error) {
        console.log("Ошибочка");

        this.name_status = "Ой Ошибочка";
        this.text_status = "Повторите попытку позже";
        this.toggleStatusModal();
      }
    },
    toggleStatusModal() {
      this.flag_status = !this.flag_status;
    },
    showPassword(elem) {
      if (
        elem.target.closest("div").className == "pass-show" ||
        elem.target.closest("div").className == "pass-show pass-show-active"
      ) {
        if (elem.currentTarget.childNodes[1].type == "password") {
          elem.currentTarget.childNodes[1].setAttribute("type", "text");
          elem.currentTarget.childNodes[2].classList.add("pass-show-active");
        } else {
          elem.currentTarget.childNodes[1].setAttribute("type", "password");
          elem.currentTarget.childNodes[2].classList.remove("pass-show-active");
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.pass-show-active {
  svg {
    path {
      fill: #385df9;
    }
  }
}

.pass-show {
  position: absolute;
  right: 1%;
  top: 49%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    path {
      transition: 0.3s;
    }
  }
}

.form {
  height: 100%;
  width: 100%;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.fields {
  width: 85%;
}
.field {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 2vh;
}
.select {
  width: 100%;
  height: 4.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(140, 158, 204, 1);
}
.item-select {
  text-align: center;
  color: #afbee4;
  font-family: Inter;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.active {
  background: #d3e4fd;
  color: #272764;
  font-weight: 600;
}
.field > label {
  font-size: 1rem;
  font-family: Inter;
  margin-bottom: 0.2rem;
}
.field > input {
  border: 1px solid #8c9ecc;
  height: 4.5vh;
  width: 100%;
  padding-left: 1vh;
}
.button {
  width: 85%;
  margin-top: 4vh;
}
.btn {
  color: #fff;
  font-size: 1rem;
  border-radius: 2px;
  font-family: "Inter";
  transition: 0.5s;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
}
.btn-login {
  background: rgba(56, 93, 249, 1);
  padding: 1vh;
  margin-right: 0.8rem;
}
.btn-registry {
  background: rgba(56, 93, 249, 1);
  color: #fff;
  padding: calc(1vh + 2px);
}

$phone: 480px;
$smallphone: 400px;

@media screen and (max-width: $phone) {
  .field {
    margin-top: 1vh;
  }
  .fields {
    width: 90%;
  }
  .button {
    margin-top: 2vh;
    width: 90%;
  }

  .form {
    justify-content: end !important;
  }
}

@media screen and (max-width: $smallphone) {
}
</style>