<template>
  <div class="private-office__inner">
    <logotypeBlock class="private-office__LogotypeBlock" />

    <mainDataForm class="private-office__MainDataForm" :userData="userData" :userName="userName" />

    <passwordsForm class="private-office__PasswordsForm" />

    <urDataForm class="private-office__urDataForm" />

    <div class="private-office__save-wrapper">
      <customButton
        class="private-office__save-btn"
        :buttonType="'blue'"
        :name="'сохранить изменения'"
        :func="updateUserData"
      />
    </div>
  </div>
</template>

<script>
import LogotypeBlock from "./components/LogotypeBlock";
import MainDataForm from "./components/MainDataForm";
import PasswordsForm from "./components/PasswordsForm";
import UrDataForm from "./components/urDataForm";
import customButton from "@/components/customButton";

import { urData } from '@/modules/helper';

export default {
  name: "main-page-private-office",
  components: {
    LogotypeBlock,
    MainDataForm,
    PasswordsForm,
    UrDataForm,
    customButton
  },
  props: ["userData", "userName"],
  data() {
    const data = {
      old_pass: null,
      new_pass1: null,
      new_pass2: null,

      new_name: null,
      new_email: null,
      new_phone: null,

      // ЮР данные
      title: null,
      address: null,
      inn: null,
      ogrn: null,
      oklo: null
    };

    return data;
  },
  methods: {
    updateUserData() {
      console.log(this.$data);
    },

    updateUrData() {
      const data = {
        address: this.address,
        inn: this.inn,
        ogrn: this.ogrn,
        oklo: this.oklo,
        title: this.title,
        user: this.userData.id
      }

      urData.addUrData(data).then((res) => {
        console.log(res)
      }).catch((err) => {
        console.log(err)
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.private-office__inner {
  position: relative;
  display: flex;
  padding: 20px 5px 0 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.private-office__LogotypeBlock {
  flex-basis: 30%;
  flex-grow: 1;
}

.private-office__MainDataForm {
  flex-basis: 62.5%;
  flex-grow: 1;
}

.private-office__PasswordsForm {
  flex-basis: 35%;
  flex-grow: 1;
}

.private-office__urDataForm {
  // min-width: 335px;
  flex-basis: 335px;
  flex-grow: 1;
}

.private-office__forms {
  display: flex;
  margin-bottom: 20px;
}
.private-office__logotype-wrapper {
  width: fit-content;
}
.private-office__main-form {
  flex-basis: 55%;
}
.private-office__pass-form {
  padding-left: 20px;
  flex-basis: 45%;
}
.private-office__save-wrapper {
  margin: 10px 10px 0px 10px;
  width: 100%;
}
.private-office__save-btn {
  width: 35%;
  min-width: 230px;
  max-width: 315px;
}

@media screen and (max-width: 870px) {
  .private-office__save-btn {
    width: 100%;
    max-width: unset;
    min-width: unset;
  }
}

@media screen and (max-width: 620px) {
  .private-office__inner {
    padding: 10px 5px 0 10px;
  }
}
</style>