<template>
  <div class="project">
    <div class="left block">
      <router-link :to="'/solution/' + data.id">
        <h4 class="title">{{data.title}}</h4>
      </router-link>
      <div class="text">{{data.text}}</div>

      <div class="buttons">
        <button type="button" class="btn btn-login_" @click="remove(data.id)">удалить</button>
      </div>
    </div>

    <div class="right block">
      <div class="info">
        <h4 class="info-text-title">Область примениня:</h4>
        <span class="info-text">{{name}}</span>
      </div>

      <div class="info">
        <h4 class="info-text-title">Стадия проекта:</h4>
        <span class="info-text">Среднее предприятие</span>
      </div>

      <div class="info">
        <h4 class="info-text-title">Инвест. показатели:</h4>

        <div class="info-invest">
          <span class="info-text">EBIDTA= 123 448 467 р</span>
          <span class="info-text mt-1">NPV = 253 730 344 р</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { category } from "@/modules/helper";

export default {
  name: "project",
  props: ["data", "remove"],
  data() {
    const data = {
      name: ""
    };

    return data;
  },
  mounted() {
    // category
    //   .getSelectCategory(this.data.category)
    //   .then(res => {
    //     this.name = res.data.category;
    //   })
    //   .catch(err => {
    //     console.log(err);
    //   });
  },
};
</script>

<style lang="scss" scoped>
.project {
  width: 100%;
  min-height: 20vh;
  border: 1px solid rgba(247, 252, 255, 0.25);
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:first-child {
    margin-top: 0;
  }
}
.block {
  padding: 0.8rem;
}
.left {
  width: 60%;
  background: #0c0e3c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  min-width: 1vw;
  color: #fff;
  font-family: Benzin-Bold;
}
.text {
  color: #afbee4;
  font-size: 0.8rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.btn {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 2px;
  font-family: "Inter";
  transition: 0.5s;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  margin-top: 16px;
}
.btn-login_ {
  border: 1px solid #fff;
  background: none;
  &:hover {
    color: #272764;
    background-color: #fff;
  }
}
.add-solution_ {
  border: none;
  background: #395df6;
  margin-right: 0.8rem;

  &:hover {
    background: rgba(56, 93, 249, 0.3);
  }
}
.right {
  width: 40%;
  background: #0f1449;
  font-family: "inter";
}
.info {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  position: relative;

  &:first-child {
    margin-top: 0;
  }
}
.info-text-title {
  color: #afbee4;
  font-size: 0.9rem;
  width: 50%;
}
.info-text {
  color: rgba(211, 228, 253, 1);
  font-size: 0.9rem;
  line-height: 1.2;
  width: 50%;
}
.info-invest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  .info-text {
    width: auto;
  }
}

$phone: 480px;
$smallphone: 400px;

@media screen and (max-width: $phone) {
  .project {
    flex-direction: column;
    margin: 15px;
    margin-top: 15px !important;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}

@media screen and (max-width: $smallphone) {
}
</style>