<template>
  <div class="Catalog">
    <CatalogFilter
      v-show="showFilterFlag"
      :type_project_list="type_project_list"
      :type_project_selected="type_project_selected"
      :selectTypeProjects="selectTypeProjects"
      :clear="clear"
      :selected_category="selected_category"
      :selectCategory="selectCategory"
      @closeFilter="togleFilter"
    />
    <Header class="Header" />

    <div class="Catalog__content">
      <Search class="Search" />

      <div class="Catalog__container">
        <Sidebar
          @openFilter="togleFilter"
          v-if="windowSize>800 || windowSize<=480"
          class="Sidebar"
          :idCategory="idCategory"
          :selected_category="selected_category"
          :selectCategory="selectCategory"
        />

        <div class="Catalog__main">
          <div v-if="windowSize<=1060 && windowSize>480" class="Catalog__menu-drop menu-drop">
            <button @click="buttonClickDrop" ref="dropButton" class="menu-drop__button">
              <p class="menu-drop__p">{{type_project_list[0].text}}</p>

              <svg
                class="menu-drop__svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  class="menu-drop__path"
                  d="M1.175 0.150391L5 3.97539L8.825 0.150391L10 1.33372L5 6.33372L0 1.33372L1.175 0.150391Z"
                  fill="#8C9ECC"
                />
              </svg>
            </button>

            <button
              v-if="windowSize<=800"
              @click="togleFilter"
              ref="showFilter"
              class="menu-drop__filter"
            >Фильтр</button>

            <div v-show="flag_showDrop" ref="dropItems" class="menu-drop__items">
              <p
                class="menu-drop__item"
                v-for="item in type_project_list"
                :key="item.id"
                @click="itemDropClick(item, selectTypeProjects);"
              >{{item.text}}</p>
            </div>
          </div>

          <div v-else class="Catalog__menu">
            <p
              v-for="item in type_project_list"
              :key="item.id"
              :class="{Catalog__menu_active: type_project_selected == item.value}"
              @click="selectTypeProjects(item.value)"
            >{{item.text}}</p>
          </div>

          <div class="Catalog__projects">
            <div
              v-if="!(flag_stopPreload) && render_projects.length == 0"
              class="Catalog__preloader-shell"
            >
              <Preloader class="Catalog__preloader" />
            </div>
            <div class="Catalog__placeholder">
              <div
                v-if="flag_stopPreload && render_projects.length == 0"
                class="Catalog__itemsNotFound"
              >
                <p>Нет проектов</p>
              </div>
            </div>

            <template
              v-for="elem in render_projects"
            >
              <ElemProject :key="elem.id" :data="elem" v-if="elem.show" />
            </template>
          </div>
        </div>
      </div>
    </div>

    <Footer class="Footer" />

    <InfoModal
      :close="toggleStatusModal"
      v-if="flag_error"
      :name="name_status"
      :text="text_status"
      button
    />
  </div>
</template>

<script>
import Search from "@/components/Search";
import Sidebar from "@/components/catalog/Sidebar";
import Header from "@/components/Header";
import Footer from "@/components/Footer";
import Preloader from "@/components/Preloader";
import InfoModal from "@/components/modals/info/Modal";
import ElemProject from "@/components/catalog/ElemProject";
import CatalogFilter from "@/components/catalog/CatalogFilter";

export default {
  name: "Catalog",
  components: {
    Sidebar,
    Footer,
    Header,
    Search,
    Preloader,
    InfoModal,
    ElemProject,
    CatalogFilter
  },
  data() {
    return {
      showFilterFlag: false,
      windowSize: null,
      flag_error: false,
      flag_showDrop: false,
      type_project_selected: "all",
      type_project_list: [
        { value: "all", text: "Все проекты" },
        { value: "Идея", text: "Идея" },
        { value: "Стартап", text: "Стартап" },
        { value: "Среднее предприятие", text: "Среднее предприятие" },
        { value: "Крупное предприятие", text: "Крупное предприятие" }
      ],
      selected_category: [],

      flag_projectOut: false,
      flag_stopPreload: false,

      render_projects: []
    };
  },
  computed: {
    idCategory() {
      return this.$route.params.id;
    },
    projects() {
      return this.$store.getters.getProjects;
    }
  },
  watch: {
    projects() {
      this.sortProjets();
      this.flag_stopPreload = !this.flag_stopPreload;
    },
    idCategory() {
      this.sortProjets();
    }
  },
  created() {
    window.addEventListener("resize", this.onResize);

    this.onResize();
  },
  mounted() {
    if (this.idCategory != "all") {
      this.selected_category.push(Number(this.idCategory));
    }

    this.loadProjects();
    // Первая ссылка в дропменю всегда отображается как активная
    this.$refs.dropItems.childNodes[0].classList.toggle(
      "menu-drop__item-active"
    );
    console.log(this.$refs.dropItems.childNodes[0]);
  },
  destroyed() {
    window.removeEventListener("resize", this.onResize);
  },
  methods: {
    clear() {
      this.type_project_selected = "all";
      this.selected_category = [];

      this.sortProjets();
    },
    selectCategory(id, event) {
      if (event.target.checked) {
        this.selected_category.push(id);
      } else {
        this.selected_category.forEach((el, id_elem) => {
          if (el == id) {
            this.selected_category.splice(id_elem, 1);
          }
        });
      }

      this.sortProjets();
    },
    togleFilter() {
      this.showFilterFlag = !this.showFilterFlag;
    },
    itemDropClick(item, callback) {
      this.$refs.dropButton.firstChild.innerHTML = item.text;
      callback(item.value);
      this.changeActiveDropItem(item.text);
    },
    changeActiveDropItem(item) {
      this.$refs.dropItems.childNodes.forEach(element => {
        if (item == element.innerHTML) {
          if (!element.classList.contains("menu-drop__item-active")) {
            element.classList.add("menu-drop__item-active");
          }
        } else {
          if (element.classList.contains("menu-drop__item-active")) {
            element.classList.remove("menu-drop__item-active");
          }
        }
      });
    },
    buttonClickDrop() {
      window.addEventListener("click", this.outDropClick);
      this.toggleDrop();
    },

    toggleDrop() {
      this.flag_showDrop = !this.flag_showDrop;
    },

    outDropClick() {
      if (
        !(
          event.target.className == this.$refs.dropItems.className ||
          event.target.parentNode.className == this.$refs.dropItems.className ||
          event.target.className == this.$refs.dropButton.className ||
          event.target.parentNode.className ==
            this.$refs.dropButton.className ||
          event.target.parentNode.parentNode.className ==
            this.$refs.dropButton.className
        )
      ) {
        this.flag_showDrop = false;
        window.removeEventListener("click", this.outDropClick);
      }
    },

    loadProjects() {
      console.log("LOAD");

      this.$store.dispatch("laodProjectsList");
    },
    selectTypeProjects(type) {
      this.type_project_selected = type;

      this.sortProjets();
    },
    onResize() {
      this.windowSize = window.innerWidth;
    },
    toggleStatusModal() {
      this.flag_error = !this.flag_error;
    },
    sortProjets() {
      // console.log("SORTED");
      this.render_projects = [];

      const sort_type_project = data => {
        if (this.type_project_selected == "all") {
          return data;
        } else {
          if (this.type_project_selected == data.type_project) {
            return data;
          }
        }
      };

      this.projects.forEach(project_el => {
        if (this.idCategory == "all" && this.selected_category.length == 0) {
          if (sort_type_project(project_el)) {
            this.render_projects.push(sort_type_project(project_el));
          }
        } else if (this.selected_category.length == 0) {
          if (project_el.category == this.idCategory) {
            if (sort_type_project(project_el)) {
              this.render_projects.push(sort_type_project(project_el));
            }
          }
        } else {
          this.selected_category.forEach(category_el => {
            if (project_el.category == category_el) {
              if (sort_type_project(project_el)) {
                this.render_projects.push(sort_type_project(project_el));
              }
            }
          });
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  text-decoration: none;
}

.Catalog__placeholder {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Benzin-Bold;
  font-size: 1.29rem;
  line-height: 125.2%;
  color: #f7fcff;
}

.Catalog__preloader-shell {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Catalog {
  background: #0f0f2c;
  position: relative;
}

.Catalog__content {
  max-width: 1220px;
  margin: auto;
  padding: 3.5rem 15px 5rem 15px;
}

.Catalog__container {
  margin-top: 3.2rem;
  display: flex;
  align-items: flex-start;
}

.Sidebar {
  width: 30%;
  height: auto;
}

.Catalog__main {
  min-height: 50vh;
  width: 70%;
  // padding: 0 1rem;
  padding-left: 2rem;
  position: relative;
}

.Catalog__menu-drop {
}

.menu-drop__button {
  border: 1px solid #8c9ecc;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 270px;
  padding: 0.6rem 0.8rem;
  background-color: #0f0f2c;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #244aeb;
}

.menu-drop__filter {
  max-width: 135px;
  width: 100%;
  background-color: #0f0f2c;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #8c9ecc;
  box-sizing: border-box;
  border-radius: 1px;
  padding: 0.6rem 0;
}

.menu-drop {
  position: relative;
  margin-bottom: 1.71rem;
  display: flex;
  justify-content: space-between;
}

.menu-drop__items {
  // height: 0%;
  top: 100%;
  display: block;
  // opacity: 0;
  min-height: auto;
  transition: 2s all;
  overflow: hidden;
  position: absolute;
  z-index: 3;
  width: 100%;
  max-width: 270px;
  // padding: 0.2rem 0.8rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #244aeb;
  background-color: #0f0f2c;
  border: 1px solid #8c9ecc;
  border-top: none;
}

.menu-drop__item {
  color: #8c9ecc;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
}

.menu-drop__item-active {
  color: #385df9;
  background: rgba(56, 93, 249, 0.07);
}

.Catalog__menu {
  max-width: 675px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: flex-start;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #8c9ecc;
  margin-bottom: 1.71rem;
  /* Inside Auto Layout */
}

.Catalog__menu p {
  cursor: pointer;
  transition: 0.5s;
}

.Catalog__menu {
  p:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #385df9;
  }
}
.Catalog__menu_active {
  text-decoration: underline;
  color: #385df9;
}
.Catalog__projects {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 40vh;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s;
}
.list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}

$phone: 480px;
$smallphone: 400px;

@media screen and (max-width: 800px) {
  .Catalog__main {
    width: 100%;
    padding-left: 0;
  }
}

@media screen and (max-width: $phone) {
  .Catalog__container {
    flex-direction: column;
    align-items: center;
  }
  .Catalog__main {
    width: 100%;
    padding: 0 0rem 7rem 0rem;
  }

  .Catalog__projects {
    align-items: center;
    justify-content: center;
  }

  .Catalog__item {
    max-width: 19.3rem;
    flex-basis: 100%;
  }
  .Sidebar {
    width: 100%;
  }
  .Catalog__menu {
    display: none;
  }
}

@media screen and (max-width: $smallphone) {
}
</style>