<template>
  <keep-alive>
    <div class="innovator">
      <Header />

      <div class="content">
        <NotPage />
      </div>
    </div>
  </keep-alive>
</template>

<script>
import Header from '@/components/Header.vue';
import NotPage from '@/components/NotPage.vue';

export default {
  name: 'Innovator',
  components: {
    Header,
    NotPage
  }
}
</script>

<style>
.innovator {
  background: #0F0F50;
}
</style>