<template>
  <div class="add-solutions">
    <p
      class="main-text"
    >Заполни форму добавления решения на сайте или направить письмо на электронную почту</p>

    <h1 class="title">
      Заяви о своей инновации,
      <br />привлекай инвесторов
      <br />и покупателей вместе
      <br />c
      <span>B2B Innovation</span>
    </h1>

    <button type="button" class="button-add" @click="callback">
      Предложить решение
      <svg
        width="22"
        height="18"
        viewBox="0 0 22 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.499973 10.1669L17.517 10.1669L11.3418 16.342L12.9915 17.9917L21.983 9.0002L12.9915 0.0087002L11.3418 1.65837L17.517 7.83353L0.499972 7.83354L0.499973 10.1669Z"
        />
      </svg>
    </button>
  </div>
</template>

<script>
export default {
  props: ["callback"]
};
</script>

<style lang="scss" scoped>
.add-solutions {
  width: 100%;
  height: 80vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main-text {
  color: #202358;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 39px;
}
.title {
  font-family: Benzin-Bold;
  font-size: 50px;
  line-height: 124.7%;
  /* or 62px */
  text-align: center;
  text-transform: uppercase;
  color: #272764;
}
.title span {
  color: #395df6;
}
.button-add {
  border: 1px solid #a0aed5;
  background: none;
  padding: 1.8vh 4vh;
  margin-top: 8vh;
  margin-bottom: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #272764;
  svg {
    transition: 0.5s;
    fill: #8c9ecc;
  }
  &:hover {
    background: #385df9;
    color: #fff;
    svg {
      fill: #fff;
    }
  }
}
.button-add svg {
  margin-left: 1vh;
}

$phone: 480px;
$smallphone: 400px;

@media screen and (max-width: $phone) {
  .add-solutions {
    padding: 0rem 1.21rem 20%;
  }

  .main-text {
    display: none;
  }

  .title {
    font-size: 1.29rem;
    text-align: left;
  }

  .button-add {
    width: 100%;
  }
}

@media screen and (max-width: $smallphone) {
  .button-add {
    font-size: 0.83rem;
  }
  .add-solutions {
    height: auto;
    padding: 30% 1.21rem 50%;
  }
}
</style>