<template>
  <div class="Button__container">
    <button @click="func" class="blueButton" v-if="buttonType === 'blue'">{{name}}</button>
    <button @click="func" class="transparentButton" v-if="buttonType === 'transparent'">{{name}}</button>
    <button @click="func" class="whiteButton" v-if="buttonType === 'white'">{{name}}</button>
  </div>
</template>

<script>
export default {
  name: "customButton",
  data() {
    return {};
  },
  props: {
    name: String,
    buttonType: String,
    func: Function
  }
};
</script>

<style lang="scss" scoped>
* {
  padding: 0;
  margin: 0;
  border: 0;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  background-color: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  font-family: Inter;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 1rem;
  width: 100%;
  //   max-width: 250px;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.Button__container {
  position: relative;
  z-index: 9999;
}

.blueButton {
  border-radius: 1px;
  font-weight: 600;
  background: #385df9;
  color: #d3e4fd;
  &:hover {
    background: rgba(56, 93, 249, 0.3);
  }
}

.transparentButton {
  // background: rgb(8, 8, 46);
  border: 1px solid #8c9ecc;
  border-radius: 1px;
  font-weight: 600;
  color: #ffffff;
  &:hover {
    color: #272764;
    background: #ffffff;
  }
}

.whiteButton {
  background: #ffffff;
  color: #272764;
  font-weight: bold;
  border: 1px solid #8c9ecc;
  &:hover {
    color: #ffffff;
    background: #385df9;
    border: 1px solid #ffffff;
  }
}
</style>