<template>
  <keep-alive>
    <header class="header">
      <HeaderMobile
        :userData="userData"
        :navItems="navItems"
        @closeHeaderMobile="toggleMobileHeader"
        @showModalAddSolution="toggleModalSulutions"
        @showModalLogin="toggleModalLogin"
        v-if="flag_mobile_header"
      />
      <div class="main">
        <router-link to="/" class="logo">
          <img src="@/assets/img/logonew.png" width="100%" height="80%" alt />
        </router-link>

        <div class="nav">
          <router-link
            v-for="item in navItems"
            :key="item.name"
            active-class="active"
            class="nav-item"
            :to="item.router"
          >{{item.name}}</router-link>
        </div>

        <div class="buttons">
          <router-link
            v-if="userData"
            to="/private-office/main"
            class="btn btn-private-office mr-4"
          >Личный кабинет</router-link>
          <button v-else type="button" class="btn btn-login_ mr-4" @click="toggleModalLogin">Вход</button>

          <button
            type="button"
            class="btn add-solution_"
            @click="toggleModalSulutions"
          >Предложить решение</button>

          <div @click="toggleMobileHeader" class="header__dropdown">
            <svg
              width="42"
              height="42"
              viewBox="0 0 29 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.5 9.66666H20.5V11H8.5V9.66666ZM8.5 14.3333H20.5V15.6667H8.5V14.3333ZM8.5 19H20.5V20.3333H8.5V19Z"
                fill="white"
              />
              <rect x="0.5" y="0.5" width="28" height="29" rx="1.5" stroke="#8C9ECC" />
            </svg>
          </div>
        </div>
      </div>

      <Login :close="toggleModalLogin" :open_reg="toggleModalRegistry" v-if="flag_modal_login" />

      <Registry
        :close="toggleModalRegistry"
        :open_log="toggleModalLogin"
        v-if="flag_modal_registry"
      />

      <AddSolutions :close="toggleModalSulutions" v-if="flag_modal_sulutions" />
    </header>
  </keep-alive>
</template>

<script>
import HeaderMobile from "@/components/HeaderMobile";
import Login from "@/components/modals/Login";
import Registry from "@/components/modals/Registry";
import AddSolutions from "@/components/modals/AddSolutions";

export default {
  name: "Header",
  data() {
    return {
      navItems: [
        { name: "Каталог решений", router: "/catalog/all" },
        { name: "Инноваторам", router: "/innovator" },
        { name: "Заказчикам", router: "/customer" },
        { name: "Инвесторам", router: "/investors" }
      ],

      flag_modal_login: false,
      flag_modal_registry: false,
      flag_modal_sulutions: false,
      flag_mobile_header: false
    };
  },
  components: {
    HeaderMobile,
    Login,
    Registry,
    AddSolutions
  },
  computed: {
    userData() {
      const user = window.localStorage.getItem("user");
      return JSON.parse(user);
    }
  },
  methods: {
    toggleMobileHeader() {
      this.flag_mobile_header = !this.flag_mobile_header;
    },
    toggleModalLogin() {
      this.flag_modal_registry = false;
      this.flag_modal_login = !this.flag_modal_login;
    },
    toggleModalRegistry() {
      this.flag_modal_login = false;
      this.flag_modal_registry = !this.flag_modal_registry;
    },
    toggleModalSulutions() {
      this.flag_modal_sulutions = !this.flag_modal_sulutions;
    }
  }
};
</script>

<style lang="scss" scoped>
svg {
  // display: none;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1230px;
  height: 18vh;
  max-height: 160px;
  padding: 0 15px;
}
.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(247, 252, 255, 0.25);
}
.logo {
  max-width: 108px;
  max-height: 45px;
  display: flex;
  align-items: center;
  img {
    max-width: 100%;
    width: auto;
  }
}
.logo:hover {
  cursor: pointer;
}

.nav {
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.nav-item {
  // margin-right: 1.88rem;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: "Inter";
  text-decoration: none;
  transition: 0.5s;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.nav-item:hover {
  cursor: pointer;
  color: #385df9;
}
.nav-item:last-child {
  margin-right: 0;
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.btn {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 2px;
  font-family: "Inter";
  transition: 0.5s;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn-login_ {
  border: 1px solid #fff;
  background: none;

  &:hover {
    color: #272764;
    background-color: #fff;
  }
}
.btn-private-office {
  border: 1px solid #fff;
  background: none;

  &:hover {
    color: #272764;
    background-color: #fff;
  }
}
.add-solution_ {
  border: 1px solid #395df6;
  background: #395df6;
  &:hover {
    background: rgba(56, 93, 249, 0.3);
  }
}
.header__dropdown {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1060px) {
  .nav {
    display: none;
  }
  .buttons {
    justify-self: flex-end;
  }
  .header__dropdown {
    margin-left: 24px;
    display: block;
  }
  .btn-private-office {
    display: none;
  }
  .add-solution_ {
    display: none;
  }
  .btn-login_ {
    display: none;
  }
}

$phone: 480px;

@media screen and (max-width: $phone) {
  .btn-login_ {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .header__dropdown {
    margin-left: 12px;
  }

  .logo {
    max-width: 78px;
    max-height: 40px;
  }

  .buttons {
    justify-self: flex-end;
  }

  .btn {
    font-size: 0.6rem;
    padding: 0.8rem 1.25rem;
  }

  .header {
    // padding-top: 5px;
  }
  .main {
    height: 12vh;
  }

  .header__dropdown {
    display: block;
  }
  svg {
    display: block;
  }

  nav {
    display: none;
  }
}

.active {
  text-decoration: underline;
}
</style>