<template functional>
  <keep-alive>
    <div class="main-info">
      <div class="container">
        <div class="main-info__white-block">
          <div class="main-info__buttons-block buttons-block">
            <div class="buttons-block__shell-title">
              <div class="buttons-block__title_white">
                <p>
                  инновации
                  <br />для&nbsp;бизнеса
                </p>
              </div>
              <div class="buttons-block__title_blue">
                <p>на одном ресурсе</p>
              </div>
            </div>
            <div class="buttons-block__shell-buttons">
              <div class="buttons-block__button text">Я ищу инновации</div>
              <div class="buttons-block__button text">Я создаю инновации</div>
            </div>
          </div>
          <div class="main-transparet_image">
            <img src="@/assets/img/transparent_image.png" alt="#" />
          </div>

          <div class="main-info__text-block text-block">
            <div class="text-block__title">
              <h2>Кому полезен проект?</h2>
            </div>
            <div class="text-item">
              <div class="text-item__head">
                <div class="text-item__logo">
                  <svg
                    width="25"
                    height="25"
                    viewBox="0 0 25 25"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M8.59375 18.75H16.4062V20.3125H8.59375V18.75Z" fill="#8C9ECC" />
                    <path d="M10.1562 21.875H14.8446V23.4375H10.1562V21.875Z" fill="#8C9ECC" />
                    <path
                      d="M12.5009 1.5625C10.4289 1.5625 8.44172 2.3856 6.97659 3.85073C5.51146 5.31586 4.68836 7.303 4.68836 9.375C4.63553 10.5104 4.85303 11.6422 5.32297 12.6771C5.79291 13.7121 6.50186 14.6207 7.39149 15.3281C8.17274 16.0547 8.59461 16.4688 8.59461 17.1875H10.1571C10.1571 15.75 9.28993 14.9453 8.44618 14.1719C7.71599 13.6127 7.13404 12.883 6.75132 12.0468C6.36859 11.2105 6.19676 10.2931 6.25086 9.375C6.25086 7.7174 6.90934 6.12769 8.08145 4.95558C9.25355 3.78348 10.8433 3.125 12.5009 3.125C14.1585 3.125 15.7482 3.78348 16.9203 4.95558C18.0924 6.12769 18.7509 7.7174 18.7509 9.375C18.8041 10.2938 18.631 11.2116 18.2469 12.0479C17.8628 12.8842 17.2794 13.6136 16.5477 14.1719C15.7118 14.9531 14.8446 15.7344 14.8446 17.1875H16.4071C16.4071 16.4688 16.8212 16.0547 17.6102 15.3203C18.4993 14.614 19.2079 13.7068 19.6778 12.6732C20.1478 11.6396 20.3656 10.5092 20.3134 9.375C20.3134 8.34905 20.1113 7.33314 19.7187 6.38529C19.3261 5.43743 18.7506 4.57619 18.0251 3.85073C17.2997 3.12527 16.4384 2.54981 15.4906 2.15719C14.5427 1.76458 13.5268 1.5625 12.5009 1.5625Z"
                      fill="#8C9ECC"
                    />
                  </svg>
                </div>
                <div class="text-item__title">
                  <h3>Инноваторам</h3>
                </div>
              </div>
              <div class="text-item__content">
                <p>
                  Добавление продукта в каталог решений даёт технологической компании возможность
                  попасть в тематические подборки, напрямую общаться с заказчиками, инвесторами,
                  а также заявить о своем продукте.
                </p>
              </div>
            </div>
            <div class="text-item">
              <div class="text-item__head">
                <div class="text-item__logo">
                  <svg
                    width="25"
                    height="25"
                    viewBox="0 0 25 25"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15.6254 15.625L22.917 22.9166L15.6254 15.625ZM9.89621 17.7083C11.9682 17.7083 13.9554 16.8852 15.4205 15.4201C16.8856 13.955 17.7087 11.9678 17.7087 9.89581C17.7087 7.82381 16.8856 5.83667 15.4205 4.37154C13.9554 2.90641 11.9682 2.08331 9.89621 2.08331C7.82421 2.08331 5.83707 2.90641 4.37194 4.37154C2.90681 5.83667 2.08371 7.82381 2.08371 9.89581C2.08371 11.9678 2.90681 13.955 4.37194 15.4201C5.83707 16.8852 7.82421 17.7083 9.89621 17.7083V17.7083Z"
                      stroke="#8C9ECC"
                      stroke-width="2"
                    />
                  </svg>
                </div>
                <div class="text-item__title">
                  <h3>Заказчикам</h3>
                </div>
              </div>
              <div class="text-item__content">
                <p>
                  Мы подготовим под ваш запрос подборку релевантных инновационных продуктов и сервисов
                  компаний предприятий малого и среднего бизнеса.
                </p>
              </div>
            </div>
            <div class="text-item">
              <div class="text-item__head">
                <div class="text-item__logo">
                  <svg
                    width="25"
                    height="25"
                    viewBox="0 0 25 25"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M24.9649 13.9153C24.9649 13.9152 24.9649 13.9151 24.9648 13.915L20.2447 2.06325C20.1445 1.81143 19.8591 1.68849 19.6073 1.78867C19.6071 1.78873 19.6069 1.78879 19.6067 1.78891L0.457876 9.4138C0.379784 9.44754 0.31206 9.5014 0.261573 9.56986C0.102323 9.65261 0.00171765 9.8164 0 9.99584V22.7555C0 23.0265 0.219736 23.2463 0.490757 23.2463H21.1025C21.3736 23.2463 21.5933 23.0265 21.5933 22.7555V15.7868L24.6909 14.553C24.9427 14.4526 25.0653 14.1671 24.9649 13.9153ZM20.6118 22.2647H0.981513V10.4866H20.6118V22.2647ZM8.18827 9.50753L16.4055 6.2332C17.1389 7.00406 18.1551 7.44218 19.219 7.44636L20.0386 9.50753H8.18827ZM21.5933 14.7326V9.99584C21.5933 9.72481 21.3736 9.50508 21.1025 9.50508H21.0947L20.0548 6.89327C20.0432 6.8715 20.0298 6.85076 20.0145 6.83144C19.9619 6.59508 19.743 6.4338 19.5017 6.45355C18.5117 6.54379 17.5433 6.12677 16.9286 5.34543C16.7757 5.15667 16.5069 5.10974 16.299 5.2355C16.2757 5.23826 16.2526 5.24255 16.2298 5.24826L6.19777 9.24302C6.07636 9.29062 5.97926 9.38503 5.92834 9.50508H2.88172L19.5144 2.88232L23.8719 13.8237L21.5933 14.7326Z"
                      fill="#8C9ECC"
                    />
                    <path
                      d="M2.31378 18.9517C3.26658 19.2333 4.01217 19.978 4.29496 20.9304C4.35698 21.1383 4.54819 21.2807 4.76511 21.2808C4.79057 21.2792 4.81584 21.2754 4.84069 21.2695C4.86271 21.2758 4.88522 21.2804 4.90792 21.2833H16.6861C16.7063 21.2806 16.7263 21.2765 16.746 21.271C16.9911 21.3306 17.2382 21.1803 17.2979 20.9351C17.2981 20.9341 17.2984 20.9333 17.2985 20.9324C17.5806 19.979 18.3263 19.2332 19.2797 18.9512C19.5109 18.8805 19.6546 18.6501 19.6164 18.4114C19.623 18.3876 19.6277 18.3633 19.6306 18.3387V14.4127C19.6277 14.3881 19.6228 14.3638 19.6159 14.34C19.6544 14.1012 19.5106 13.8707 19.2792 13.8002C18.3258 13.5182 17.5803 12.7722 17.299 11.8185C17.228 11.5857 16.9953 11.4417 16.7553 11.4819C16.7326 11.4756 16.7095 11.471 16.6861 11.4681H4.90792C4.8832 11.4711 4.85872 11.476 4.8348 11.4829C4.5961 11.4448 4.36582 11.5884 4.29496 11.8195C4.01272 12.7728 3.26707 13.5182 2.31378 13.8002C2.08257 13.8709 1.9389 14.1013 1.97712 14.34C1.97074 14.3639 1.96614 14.3881 1.96338 14.4127V18.3387C1.9662 18.3618 1.9708 18.3846 1.97712 18.4069C1.93688 18.6472 2.08085 18.8802 2.31378 18.9517ZM2.94489 14.6119C3.93033 14.2161 4.71137 13.4351 5.10717 12.4497H16.4863C16.8823 13.4351 17.6635 14.2161 18.6491 14.6119V18.1395C17.664 18.5357 16.8831 19.3166 16.4868 20.3017H5.10717C4.71094 19.3166 3.93003 18.5357 2.94489 18.1395V14.6119Z"
                      fill="#8C9ECC"
                    />
                    <path
                      d="M10.7967 19.3202C12.4229 19.3202 13.7412 18.0019 13.7412 16.3757C13.7412 14.7494 12.4229 13.4312 10.7967 13.4312C9.17041 13.4312 7.85211 14.7494 7.85211 16.3757C7.85371 18.0013 9.17108 19.3186 10.7967 19.3202ZM10.7967 14.4127C11.8808 14.4127 12.7597 15.2915 12.7597 16.3757C12.7597 17.4598 11.8808 18.3387 10.7967 18.3387C9.71251 18.3387 8.83363 17.4598 8.83363 16.3757C8.83363 15.2915 9.71251 14.4127 10.7967 14.4127Z"
                      fill="#8C9ECC"
                    />
                    <path
                      d="M5.39929 17.1118C5.8059 17.1118 6.13556 16.7822 6.13556 16.3757C6.13556 15.9691 5.8059 15.6395 5.39929 15.6395C4.99269 15.6395 4.66302 15.9691 4.66302 16.3757C4.66302 16.7823 4.99269 17.1118 5.39929 17.1118ZM5.39929 16.1303C5.53483 16.1303 5.64472 16.2402 5.64472 16.3757C5.64472 16.5112 5.53483 16.621 5.39929 16.621C5.26376 16.621 5.15387 16.5112 5.15387 16.3757C5.15387 16.2402 5.26376 16.1303 5.39929 16.1303Z"
                      fill="#8C9ECC"
                    />
                    <path
                      d="M16.1951 17.1118C16.6017 17.1118 16.9314 16.7822 16.9314 16.3757C16.9314 15.9691 16.6017 15.6395 16.1951 15.6395C15.7885 15.6395 15.4588 15.9691 15.4588 16.3757C15.4588 16.7823 15.7885 17.1118 16.1951 17.1118ZM16.1951 16.1303C16.3306 16.1303 16.4405 16.2402 16.4405 16.3757C16.4405 16.5112 16.3306 16.621 16.1951 16.621C16.0596 16.621 15.9497 16.5112 15.9497 16.3757C15.9497 16.2402 16.0596 16.1303 16.1951 16.1303Z"
                      fill="#8C9ECC"
                    />
                  </svg>
                </div>
                <div class="text-item__title">
                  <h3>Инвесторам</h3>
                </div>
              </div>
              <div class="text-item__content">
                <p>
                  На платформе вы можете быстро найти необходимые технологичные новинки, договориться
                  о сотрудничестве с компаниями-разработчиками и заключить контракт на сотруднечество.
                </p>
              </div>
            </div>
          </div>
          <div class="main-info__image">
            <img src="@/assets/img/image1.png" alt="#" />
          </div>
        </div>
      </div>
    </div>
  </keep-alive>
</template>

<script>
export default {
  name: "Info"
};
</script>

<style lang="scss" scoped>
/* ZERO STYLE */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ZERO STYLE`S END */

.main-info {
  // background-color: #fff;
  padding: 150px 0px 100px 0px;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.main-info__white-block {
  background-color: white;
  position: relative;
  /*HARD CODED*/
  width: 1045px;
  height: 1011px;
  left: 244px;
}

.main-info__image {
  position: absolute;
  /*HARD CODED*/
  left: -132px;
  top: 174px;
  width: 488px;
  height: 898px;
}

.main-info__image img {
  /*HARD CODED*/
  width: 488px;
  height: 898px;
}

.main-transparet_image {
  position: absolute;
  top: -10vh;
  left: -6vw;
}

.main-info__text-block {
  /*HARD CODED*/
  width: 490px;
  height: 657px;
  left: 443px;
  top: 269px;
}

.text-block {
  position: absolute;
}
.text-block__title {
  font-family: Benzin-Bold;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #272764;

  /*HARD CODED*/
  margin-bottom: 51px;
}

.text-item {
  /*HARD CODED*/
  margin-bottom: 40px;
}

.text-item__head {
  display: flex;
  align-items: center;
  /*HARD CODED*/
  margin-bottom: 15px;
}

.text-item__logo {
  /*HARD CODED*/
  margin-right: 13px;
}

.text-item__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #272764;
}

.text-item__content {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #59596c;
}

.main-info__buttons-block {
  background-color: #2727a3;
  /*HARD CODED*/
  position: absolute;
  width: 487px;
  height: 277px;
  left: 443px;
  top: -95px;
}

.buttons-block {
  padding: 39px 47px 52px 49px;
}

.buttons-block__shell-title {
  font-family: Benzin-Bold;
  font-size: 24px;
  line-height: 145%;
  /* or 35px */
  text-transform: uppercase;
  /*HARD CODED*/
  margin-bottom: 31px;
}

.buttons-block__title_white {
  margin-bottom: 0;
  color: #ffffff;
}

.buttons-block__title_blue {
  color: #385df9;
}

.buttons-block__shell-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-block__button {
  transition: 0.5s;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #8c9ecc;
  box-sizing: border-box;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /*HARD CODED*/
  width: 190px;
  height: 50px;
  &:hover {
    color: #272764;
    background-color: #fff;
  }
}

$phone: 480px;
$smallphone: 400px;

@media screen and (max-width: 1300px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }
  .main-info__white-block {
    left: unset;
    max-width: 1045px;
    width: auto;
  }
  .main-info__text-block {
    max-width: 490px;
    width: auto;
    left: 20%;
  }
  .main-info__image {
    display: none;
    position: absolute;

    left: -40%;
    top: 174px;
    max-width: 488px;
    width: auto;
    height: 898px;
  }
  .main-info__buttons-block {
    position: absolute;
    max-width: 487px;
    width: auto;
    left: 20%;
    top: -95px;
  }
}

@media screen and (max-width: $phone) {
  .main-info {
    padding: 0;
  }
  .container {
    padding: 0;
    // padding: 0rem 0.36rem 0rem 0.36rem;
  }
  .main-info__white-block {
    width: auto;
    height: auto;
    left: 0;
  }
  .main-info__image {
    position: absolute;
    left: 0;
    top: 82%;
    // bottom: -15%;
    width: auto;
    max-height: 680px;
    height: auto;
    display: flex;
    justify-content: center;

    // bottom: 50%;
  }
  .main-transparet_image {
    display: none;
  }
  .main-info__image img {
    /*HARD CODED*/
    max-width: 80%;
    height: auto;
    width: auto;
  }
  .main-info__text-block {
    width: auto;
    height: auto;
    left: 0;
    top: 0;
    position: relative;
    padding: 40% 1.29rem 0%;
    padding-bottom: 60vw;
  }
  .main-info__buttons-block {
    position: absolute;
    width: 85%;
    height: auto;
    left: 0;
    top: -12.5%;
  }

  .buttons-block {
    padding: 2.42rem 1.21rem;
  }

  .buttons-block__shell-title {
    font-size: 1.2rem;
    /* or 35px */
    /*HARD CODED*/
    margin-bottom: 1rem;
    p {
      margin: 0;
    }
  }

  .buttons-block__shell-buttons {
    flex-direction: column;
    align-content: space-around;
  }

  .buttons-block__button {
    width: 100%;
    &:first-child {
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: $smallphone) {
  .buttons-block__shell-title {
    font-size: 1rem;
  }
  .text-block__title {
    font-size: 1.43rem;
  }
  .main-info__text-block {
    padding-top: 55%;
    padding-bottom: 30%;
  }
  .main-info__image {
    top: 92%;
    bottom: unset;
    max-height: 560px;
  }
  .main-info__image img {
    width: 90%;
  }
}
</style>