<template>
  <div class="not-page">
    <img width="120px" src="http://s1.iconbird.com/ico/1012/PlexIcons/w512h5121350249279settings.png" alt="">
    <h3>Страница находится в разработке :)</h3>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.not-page {
  background-color: #0f1150;

  width: 100vw;
  height: calc(100vh - 18vh);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: #fff;
  font-family: Benzin-Bold;
}
</style>