<template>
  <keep-alive>
    <div class="search__wrapper">
      <div class="search search__main-page">
        <h1 class="title">Каталог решений</h1>

        <b-form inline @submit.prevent="search" class="search-form">
          <div class="w-80 wrapper-input">
            <b-form-input
              id="inline-form-input-name"
              class="input-search w-100"
              placeholder="Поиск по инновациям"
              v-model="value"
            ></b-form-input>
          </div>

          <div class="w-20 wrapper-button">
            <b-button type="button" @click="clear" class="button-clear" v-if="value && !searchToMain">
              x
            </b-button>
            <b-button type="submit" class="button-search w-100">
              Найти
              <svg
                width="22"
                height="18"
                viewBox="0 0 22 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.499973 10.1667L17.517 10.1667L11.3418 16.3419L12.9915 17.9916L21.983 9.00008L12.9915 0.00857813L11.3418 1.65825L17.517 7.83341L0.499972 7.83341L0.499973 10.1667Z"
                />
              </svg>
            </b-button>
          </div>
        </b-form>
      </div>
    </div>
  </keep-alive>
</template>

<script>
export default {
  name: "search",
  props: {
    searchToMain: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      value: null,
    };
  },
  computed: {
    projects() {
      return this.$store.getters.getProjects;
    }
  },
  methods: {
    search() {
      this.projects.forEach(el => {
        if (this.value) {
          const text = el.title.toLocaleLowerCase();
          const value = this.value.toLocaleLowerCase();

          if (text.includes(value)) {
            el.show = true;
          } else {
            el.show = false;
          }
        } else {
          el.show = true;
        }
      });

      if (this.searchToMain) {
        this.$router.push('/catalog/all')
      }
    },
    clear() {
      this.value = null;
      this.projects.forEach(el => {
        el.show = true;
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.w-80 {
  width: 80%;
}
.w-20 {
  width: 20%;
}
.input-group-append {
  position: absolute;
  color: #fff;
  font-size: 1.6rem;
  right: 10px;
  top: 2px;
  cursor: pointer;
}
.search__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0rem 0rem;
}
.search {
  width: 1200px;
}
.title {
  text-transform: uppercase;
  margin-bottom: 2.7rem !important;
  color: #fff;
  font-family: Benzin-Bold;
  font-size: 2.6rem;
}

.input-search {
  height: 44px;
  background: none;
  border: 1px solid #afbee4;
  border-radius: 0;
  color: #fff;
}

svg {
  fill: #fff;
  transition: 0.5s;
}
.wrapper-button {
  display: flex;
}
.button-clear {
  height: 44px;
  width: 50px;
  background: none;
  border: 1px solid #afbee4;
  border-radius: 0;
  color: #fff;
  font-size: 1rem;
  transition: 0.5s;
  text-transform: uppercase;
  font-family: Inter;
  font-weight: 600;
}
.button-search {
  height: 44px;
  background: none;
  border: 1px solid #afbee4;
  border-radius: 0;
  color: #fff;
  font-size: 1rem;
  transition: 0.5s;
  text-transform: uppercase;
  font-family: Inter;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: #272764;
    background: #fff;
    svg {
      fill: #272764;
    }
  }
}
.button-search svg {
  margin-left: 1vh;
}
.tag-style___123 {
  background: red !important;
  height: 100px;
  color: #385df9;
}

$phone: 480px;
$smallphone: 400px;

@media screen and (max-width: 620px) {
  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: $phone) {
  .wrapper-button {
    width: 40%;
  }
  .wrapper-input {
    width: 60%;
  }
  .wrapper- .search__main-page {
    margin-top: 40%;
    margin-bottom: 0;
  }
  .search-form {
    margin-top: 20px;
  }
  .search__wrapper {
    padding: 0rem 0rem;
  }

  .wrapper {
    padding: 0 1.21rem 0 1.21rem;
    margin-bottom: 6.07rem;
  }

  .title {
    text-transform: uppercase;
    margin-bottom: 1.43rem;
    color: #fff;
    font-family: Benzin-Bold;
    font-size: 1.2rem;
    text-align: center;
  }
}

@media screen and (max-width: $smallphone) {
}
</style>