<template>
  <div class="solutions">
    <div class="solutions__view">
      <div ref="content" class="solutions__content">
        <div class="solutions__solblock solblock" v-for="elem in categories" :key="elem.id">
          <router-link :to="`/catalog/${elem.id}`">
            <div class="solblock__picture" :style="{'background-image': `url(${elem.image})`}"></div>
            <div class="solblock__title">
              <h3>{{ elem.category }}</h3>
            </div>
          </router-link>
        </div>

        <router-link to="/catalog/all" class="solutions__solblock solblock">
          <div class="solblock__bigtitle">
            <h3>Показать больше решений</h3>
          </div>
          <div class="solblock__arrow">
            <svg width="56" height="47" viewBox="0 0 56 47" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.874865 26.4585L44.0251 26.4585L28.3667 42.117L32.5497 46.3001L55.3496 23.5002L32.5497 0.700296L28.3666 4.88338L44.0251 20.5418L0.874864 20.5418L0.874865 26.4585Z"
              />
            </svg>
          </div>
        </router-link>
      </div>
    </div>
    <div class="solutions__buttons-block">
      <div
        ref="leftButton"
        v-on:click="leftShift"
        class="solutions__button-left solutions__button solutions__inactive"
      >
        <svg
          width="15"
          height="14"
          viewBox="0 0 15 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14.8752 7.79161L3.32792 7.79161L7.51822 11.9819L6.3988 13.1013L0.297425 6.99994L6.3988 0.898569L7.51822 2.01799L3.32792 6.20828L14.8752 6.20828L14.8752 7.79161Z"
            fill="#8C9ECC"
          />
        </svg>
      </div>
      <div
        ref="rightButton"
        v-on:click="rightShift"
        class="solutions__button-right solutions__button"
      >
        <svg
          width="16"
          height="14"
          viewBox="0 0 16 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.624826 7.79161L12.1721 7.79161L7.98178 11.9819L9.1012 13.1013L15.2026 6.99994L9.1012 0.898569L7.98178 2.01799L12.1721 6.20828L0.624826 6.20828L0.624826 7.79161Z"
            fill="#8C9ECC"
          />
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Solutions",
  data() {
    return {
      shiftValue: null,
      content: null,
      rightButton: null,
      leftButton: null
    };
  },
  methods: {
    leftShift() {
      if (Number(this.content.style.left.slice(0, -2)) < 0) {
        this.content.style.left = `${Number(
          this.content.style.left.slice(0, -2)
        ) + this.shiftValue}px`;
      }
      this.checkButtons();
    },
    rightShift() {
      if (
        Number(this.content.style.left.slice(0, -2)) >
        -((this.content.childNodes.length - 2) * this.shiftValue)
      ) {
        this.content.style.left = `${Number(
          this.content.style.left.slice(0, -2)
        ) - this.shiftValue}px`;
      }
      this.checkButtons();
    },
    checkButtons() {
      if (Number(this.content.style.left.slice(0, -2)) >= 0) {
        this.leftButton.classList.add("solutions__inactive");
      } else {
        this.leftButton.classList.remove("solutions__inactive");
      }
      if (
        Number(this.content.style.left.slice(0, -2)) <=
        -((this.content.childNodes.length - 2) * this.shiftValue)
      ) {
        this.rightButton.classList.add("solutions__inactive");
      } else {
        this.rightButton.classList.remove("solutions__inactive");
      }
    }
  },
  computed: {
    categories() {
      return this.$store.getters.getCategories;
    }
  },
  mounted() {
    if (this.categories.length == 0) {
      this.$store.dispatch("laodCategoriesList");
    }

    // add margin to this from .solblock
    this.shiftValue =
      Number(
        getComputedStyle(this.$refs.content.firstChild).width.slice(0, -2)
      ) + 30;
    this.content = this.$refs.content;
    this.rightButton = this.$refs.rightButton;
    this.leftButton = this.$refs.leftButton;
  }
};
</script>

<style lang="scss" scoped>
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.solutions {
  background-color: #0f0f2c;
}

.solutions__content {
  position: relative;
  max-width: 1280px;
  padding: 0px 15px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: 0.5s;
  left: 0px;
}

.solutions__buttons-block {
  display: none;
}

.solblock__arrow {
  transition: 0.5s;
  fill: #8c9ecc;
}

.solblock {
  width: 360px;
  margin-bottom: 100px;
  cursor: pointer;
  &:hover {
    background-size: cover;
    .solblock__title {
      color: #244aeb;
    }
    .solblock__bigtitle {
      color: #244aeb;
    }
    .solblock__arrow {
      fill: #244aeb;
    }
  }
}

.solblock__picture {
  transition: 0.5s;
  margin-bottom: 30px;
  width: 361px;
  height: 421px;
  filter: grayscale(100%);
  background-size: cover;
  position: relative;
  z-index: 10;
  &:hover {
    filter: grayscale(0%);
    border: 1px solid #385df9;
    box-sizing: border-box;
    box-shadow: 5px 5px 0px #385df9;
    border-radius: 1px;
  }
}

.solblock__title {
  transition: 0.5s;
  font-family: Benzin-Bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;

  color: #ffffff;
}

.solblock__bigtitle {
  transition: 0.5s;
  font-family: Benzin-Bold;
  font-size: 40px;
  line-height: 145.7%;
  /* or 58px */
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 35px;
}

$phone: 480px;
$smallphone: 400px;

@media screen and (max-width: $phone) {
  .solutions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .solutions__view {
    width: 320px;
    overflow: hidden;
  }
  .solutions__content {
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .solutions__buttons-block {
    display: flex;
    margin-bottom: 4rem;
  }

  .solutions__button-left {
    margin-right: 0.7rem;
  }

  .solutions__button {
    width: 50px;
    height: 50px;
    border: 1px solid #8c9ecc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 1;
  }

  .solutions__inactive {
    opacity: 0.2;
  }

  .solblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:last-child {
      display: none;
    }
    margin-bottom: 2rem;
    margin-right: 30px;
  }

  .solblock__title {
    font-size: 0.79rem;
    text-align: center;
  }
  .solblock__picture {
    min-width: 320px;
    min-height: 352px;

    width: auto;
    height: auto;

    filter: grayscale(0%);
  }
  .solblock {
    width: 320px;
  }
}

@media screen and (max-width: $smallphone) {
  .solblock {
    width: 220px;
  }
  .solutions__view {
    width: 220px;
    overflow: hidden;
  }
  .solblock__picture {
    min-width: 220px;
    min-height: 252px;

    width: auto;
    height: auto;

    filter: grayscale(0%);
  }
}
</style>