<template>
  <div class="tags__wrapper">
    <div class="tags tags__main-page">
      <div class="items">
        <router-link
          to="#"
          v-for="elem in tags"
          :key="elem.id"
          class="select-item text"
        >{{elem.title}}</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import {tag} from '@/modules/helper'

export default {
  name: "Tags",
  data() {
    return {
      tags: []
    };
  },
  mounted() {
    tag.getAllTag().then((res) => {
      this.tags = res.data
      console.log(res.data)
    }).catch((err) => {
      console.log(err)
    });
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
.tags__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tags {
  width: 1200px;
  margin-bottom: 5vh;
}
.select-item {
  transition: 0.5s;
  background: rgba(56, 93, 249, 0.2);
  border: 1px solid #385df9;
  height: 44px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3vh;
  font-size: 1.3rem;
  margin-right: 1vh;
  margin-top: 1vh;
  cursor: pointer;
  &:hover {
    background: #385df9;
  }
}
.select-item:last-child {
  margin-right: 0;
}
.items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3vh;
}

.tag-style___123 {
  background: red !important;
  height: 100px;
  color: #385df9;
}

$smallphone: 400px;
$phone: 480px;

@media screen and (max-width: $phone) {
  .tags__main-page {
    margin-bottom: 0;
  }

  .tags__wrapper {
    margin-bottom: 20vw;
    padding: 0rem 1rem;
  }

  .wrapper {
    padding: 0 1.21rem 0 1.21rem;
    margin-bottom: 6.07rem;
  }
}

@media screen and (max-width: $smallphone) {
  .tags__wrapper {
    margin-bottom: 30vw;
  }
}
</style>